<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suites">
    <test name="Some test" >

        <classes>
            <class name="MyTest" >
                <methods>
                    <include name="testMyTest"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>